.ui-toast {
  position: fixed;
  background: none repeat scroll 0 0 transparent;
  top: 20px; left: 50%;
  margin: 0; padding: 0;
  pointer-events: none;
  z-index: 2147483647;
}
.ui-toast > div {
  position: relative;
  top: 0; right: 50%;
  margin: 0; padding: 0;
  pointer-events: visiblepainted;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.ui-toast-message {
  padding: 7px 10px 7px 44px;
  margin: 0; color: #222;
  border: 1px solid #f0c36d;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  background: #f9edbe no-repeat 10px center;
  max-width: 606px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .16s;
  animation-duration: .16s;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}
.ui-toast-type-info .ui-toast-message { background-image: url(../images/info.png); }
.ui-toast-type-success .ui-toast-message { background-image: url(../images/success.png); }
.ui-toast-type-error .ui-toast-message { background-image: url(../images/error.png); }
.ui-toast-type-warn .ui-toast-message { background-image: url(../images/warn.png); }
.ui-toast-type-ask .ui-toast-message { background-image: url(../images/ask.png); }
.ui-toast-type-lock .ui-toast-message { background-image: url(../images/lock.png); }
.ui-toast-type-sad .ui-toast-message { background-image: url(../images/sad.png); }
.ui-toast-type-smile .ui-toast-message { background-image: url(../images/smile.png); }
.ui-toast-type-loading .ui-toast-message { background-image: url(../images/loading.gif); }
.ui-toast-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  opacity: .65; z-index: 2147483646;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
}
:root .ui-toast-mask {
  filter: none \9;
}
